/*@font-face {
    font-family: ARCfont;
    src: url("../fonts/ARCfont.ttf");
}*/

html * {
    font-family: 'Quicksand', sans-serif;
}

/* id */
#map { 
    margin-bottom: 10px;
}

#infoModal {
    top: 20%
}

#place-info td {
    border: 15px solid transparent; 
}

#place-image img {
    margin-left: auto;
	margin-right: auto;
	display: block;
}

/* bootstrap class/tags */
footer {
    margin: 10px 10px;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    padding: 5px 5px 5px 5px;
}

.navbar {
    background-color: #D34747;
    margin-bottom: 5px;
}

.navbar-default .navbar-header > a,
.navbar-default .navbar-header > a:hover,
.navbar-default .navbar-header > a:focus {
    color: #fff;
}

.jumbotron {
    background-image: url("../img/lobster.png");
    background-size: 100%;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center center;
}

.jumbotron p {
    color: #fff;
}

/* self defined class */
.info {
    color: #D34747; 
}

.option {
    font-size: 20px;
    border-left: 5px solid #D34747;
    padding-left: 8px;
    margin-left: 10px;
    font-weight: 400;
}