html * {
    font-family: 'Quicksand', sans-serif;
}

#map { 
    height: 300px;
    margin-bottom: 10px;
}

footer {
    margin: 10px 10px;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.navbar {
    background-color: #D34747;
    margin-bottom: 5px;
}

.navbar-default .navbar-header > a,
.navbar-default .navbar-header > a:hover,
.navbar-default .navbar-header > a:focus {
    color: #fff;
}

.option {
    font-size: 20px;
    border-left: 5px solid #D34747;
    padding-left: 8px;
    margin-left: 10px;
    font-weight: 400;
}

.row-content {
    padding: 5px 5px 5px 5px;
}
